<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<div id="sidebar">
  <ul class="nav-elements">
    <!-- <img src="img/logo.png" id="logo">-->
    <a href="#" class="link"><h1 class="name">Up<div class="mark">Mark</div>it</h1></a>
        <hr style="width:80%; margin-right: 100px; margin-top: 0px; margin-bottom: 20px">
    <div id="cat">
    <a href="/cat/topvideos" class="link">
      <li class="element">Top Videos</li>
    </a>
    <br>
    <a href="/cat/comedy" class="link">
      <li class="element">Comedy</li>
    </a>
    <br>
    <a href="/cat/sports" class="link">
      <li class="element">Sports</li>
    </a>
    <br>
    <a href="/cat/music" class="link">
      <li class="element">Music</li>
    </a>
    <br>
    <a href="/cat/gaming" class="link">
      <li class="element">Gaming</li>
    </a>
    <br>
    <a href="/cat/kids" class="link">
      <li class="element">Kids</li>
    </a>
    <br>
    <a href="/cat/news" class="link">
      <li class="element">News</li>
    </a>
    <br>
    <a href="/cat/animation" class="link">
      <li class="element">Animation</li>
    </a>
    <br>
    <a href="/cat/education" class="link">
      <li class="element">Education</li>
    </a>
    <br>
    <a href="/cat/education" class="link">
      <li class="element">sdf</li>
    </a>
    </div>
  </ul>
</div>
<header id="header">
  <!--<img src="img/minilogo.png" id="minilogo">-->
  <input type="checkbox" name="toggle" id="toggle" onchange='handleChange(this)' unchecked>
  <label for="toggle"></label>
</header>
<div id="content">
<!-- <div id="container"> -->
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
<div class="post">
  <div class="post-top">
    <img src="http://img.youtube.com/vi/_4RQD2SxDOI/hqdefault.jpg" alt="" />
  </div>
  <div class="post-middle">
    <a href="#" title="View Picture" class="entypo-picture"></a>
    <a href="#" title="Read More" class="entypo-link"></a>
    <a href="#" title="View Gallery" class="entypo-book"></a>
    <a href="#" title="Comment" class="entypo-comment"></a>
  </div>
  <div class="post-last">
      <h1>Video Here.</h1>
      <h2>Category: Travel</h2>
  </div> 
</div>
</div>
<div id="footer">
      <a href="/cat/animation" class="link">
      <li class="element e">Add a Video</li>
    </a>
      <a href="/cat/animation" class="link">
      <li class="element e">Settings</li>
    </a>
    <a href="/cat/favorites" class="link">
      <li class="element e">Favoritess</li>
    </a>
</div>
</div>

<script type="text/javascript">
function handleChange(cb) {
  if (cb.checked == true) {
    document.getElementById("sidebar").style.left = "0em";
  } else {
    document.getElementById("sidebar").style.left = "-19em";
  }
}

window.onresize = function rs() {
  var cb = document.getElementById("toggle");
  if (window.matchMedia("(max-width: 1000px)").matches && cb.checked == false) {
    document.getElementById("sidebar").style.left = "-20em";
  }
  if (window.matchMedia("(min-width: 1000px)").matches && cb.checked == true) {
    document.getElementById("sidebar").style.left = "0em";
    cb.checked = false;
  }
  if (window.matchMedia("(min-width:1000px)").matches && cb.checked == false) {
    document.getElementById("sidebar").style.left = "0em";

  }

}
</script>