@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Sans);

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0em;
    background-color: #eee;
}
.hr {
    width: 2px;
    height: 150px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    margin-left: 600px;
}
#footer li {
    list-style-type: none;
    font-size: 30px;
}
#sidebar li {
    font-size: 20px;
    line-height: 30px;
}
#sidebar {
    background-image: url("../img/bg.png");
    color: #aaa;
    float: left;
    width: 15em;
    position: fixed;
    background-color: #000;
    box-shadow: 4px 0px 20px 0px #131313;
    transition-duration: 0.3s;
    /*float: left;*/
    overflow: hidden;
    position: fixed;
    /*height: 100%;*/
    
    top: 0;
    bottom: 0;
    /* Basically like height:100%; */
    
    z-index: 9998;
}
a {
    transition: opacity 0.3s ease;
    color: inherit;
}
a:hover {
    opacity: 0.5;
}
.e {
    padding-top: 10px;
    padding-right: 40px;
}
#cat::-webkit-scrollbar {
    width: 1em;
}
 
#cat::-webkit-scrollbar-track, #content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#cat::-webkit-scrollbar-thumb, #content::-webkit-scrollbar-thumb{
  background-color: #338DD5;
  /*outline: 1px solid slategrey;*/
}
#cat {
    height: 66%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 60px;
}
/*#cat:hover {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
*/
li.element:hover {
    color: #39A0DD;
    transition-duration: 0.2s;
}
h2 {
    transition-duration: 0.3s;
    font-size: 200%;
    font-weight: bolder;
}
h2:hover {
    color: white;
    transition-duration: 0.3s;
}
.other {
    height: 60px;
}
#header {
    background-image: url("../img/bg.png");
    position: fixed;
    height: 4em;
    width: 100%;
    transition-duration: 0.3s;
    top: -5em;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.55);
    z-index: 9997;
}
#addVideo {/*
    position: fixed;
    /*height: 100%;*/
    /*background: #fff;*/
    display: block;
    /*top: 0;*/
    bottom: 0;
    padding-left: 15em;
    padding-right: 1em;
    padding-bottom: 100px;
    /*margin-top: 1em;*/
    overflow: auto;
    transition-duration: 0.3s;
}
div.youtube-iframe-div {
    width: 90%;
    max-width: 700px;
    margin: 2em auto 4em;
}

iframe.youtube-iframe {
  border-radius: 1em;
}
img {
    /*width: 30;*/
  height: 30%;
  width: auto;
  -webkit-box-shadow: 7px 5px 5px rgba(0,0,0,0.2); 
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2); 
}

input[type=text],input[type=password], textarea, select{
  width: 80%; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}
  /* Star hover using lang hack in its own style wrapper, otherwise Gmail will strip it out */
  
  * [lang~="star-wrapper"]:hover *[lang~="star-number"] {
    color: #119da2 !important;
    border-color: #119da2 !important;
  }
  
  * [lang~="star-wrapper"]:hover *[lang~="full-star"],
  * [lang~="star-wrapper"]:hover ~ *[lang~="star-wrapper"] *[lang~="full-star"] {
    display: block !important;
    width: auto !important;
    overflow: visible !important;
    float: none !important;
    margin-top: -1px !important;
  }
  
  * [lang~="star-wrapper"]:hover *[lang~="empty-star"],
  * [lang~="star-wrapper"]:hover ~ *[lang~="star-wrapper"] *[lang~="empty-star"] {
    display: block !important;
    width: 0 !important;
    overflow: hidden !important;
    float: left !important;
    height: 0 !important;
  }


button, .button, input[type=submit] {
  margin-right: 10px;
  border: 0;
  background: #fff;
  color: #2C2C2C;
  padding: 8px 14px;
  /*font-weight: bold;*/
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
}
button:hover, button:focus, button.hover, button.focus, .button:hover, .button:focus, .button.hover, .button.focus, input[type=submit]:hover, input[type=submit]:focus, input[type=submit].hover, input[type=submit].focus {
  transform: translate(2px, 2px);
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
}
button:active, button.active, .button:active, .button.active, input[type=submit]:active, input[type=submit].active {
  transform: translate(4px, 4px);
}

.col {
  width: 160px;
  float: left;
}

.star-rating {
  z-index: 0;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  text-align: center;
  padding: 20px;
  display: block;
}

textarea {
    resize: none;
    padding-top: 10px;
    height: 150px;
}

input[type=password]{
  margin-bottom: 25px;
}

#content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: fixed;
    /*height: 100%;*/
    top: 0;
    bottom: 0;
    padding-left: 15em;
    padding-right: 1em;
    padding-bottom: 80px;
    /*margin-top: 1em;*/
    overflow: auto;
    transition-duration: 0.3s;
}
p {
    font-size: 1.25em;
}
.link {
    display: inline-block;
    text-decoration: none;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    background: url('http://dicrc.in/images/menu_icon.png') no-repeat;
    width: 40px;
    height: 40px;
    position: relative;
    right: 0.25em;
    top: 0.5em;
    padding: 0.25em;
    float: right;
    z-index: 99999;
}
input[type=checkbox]:checked + label {
    background: url('http://www.bathchristmasmarket.co.uk/wp-content/themes/bathxmas/images/ui/buttons/icon-close.png') no-repeat;
    position: relative;
    width: 40px;
    height: 40px;
    right: 0.25em;
    top: 0.5em;
    padding: 0.25em;
    float: right;
    z-index: 99999;
}
@media(max-width:1000px) {
    #addVideo img {
        margin-right: 1em;
    }
    #footer li {
        line-height: 17px;
        padding-top: 15px;
        list-style-type: none;
        font-size: 19px;
    }
    #addVideo {
        padding-left: 2em;
        margin-top: 5em;
        transition-duration: 0.3s;
    }
    #content {
        padding-left: 0px;
        margin-top: 5em;
        transition-duration: 0.3s;
    }
    #header {
        background-image: url("../img/bg.png");
        top: 0em;
        transition-duration: 0.3s;
    }
    #footer {
        font-size: 7px;
        background-image: url("../img/bg.png");
        width: 100%;
        margin: 0%;
    }
}
.nav-elements {
    /*overflow: scroll;*/
    
    list-style-type: none;
}
.element {
    margin: 0em;
    font-size: 2px;
    line-height: 2em;
    /*width: 100%;*/
    color: #eee;
    transition-duration: 0.3s;
}
.name,
.element {
    color: #eee;
}
.btxt {
    color: #111;
}
.toggle {
    position: relative;
}
#footer {
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 80px;
    background-image: url("../img/bg.png");
    box-shadow: 4px 0px 20px 0px #131313;
    color: #fff;
}
@media(min-width:1000px) {
    #footer {
        width: calc(100% - 15em);
        margin-left: 15em;
        /*display: block;*/
    }
}
.mark {
    display: inline-block;
    color: #39A0DD;
}
/* IE 6 */

@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
.post-middle a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
#container {
    float: left;
    width: 1000px;
    display: inline-block;
}
.post {
    border-radius: 3px;
    width: 260;
    max-height: 216px;
    float: left;
    display: inline-block;
    padding-bottom: 15px
}
@media(max-width: 700px) {
    .post {
        width: 100%;
        text-align: center;
    }
}
/*.post:hover .post-middle, .post:focus .post-middle, .post:active .post-middle {
  height: 40px;
  overflow: hidden;
  position:relative;
}
*/

.post-top {
    position: relative;
    display: block;
    padding-top: 20px;
    /*border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-right: 4px solid #000;*/
    
    padding-bottom: 5px;
    z-index: 0;
}
.post-top img {
    width: 240px;
    height: 140px;
    border-radius: 2px;
    margin-left: 17px;
    z-index: 0;
}
.post-last {
    /*border: 4px solid #000;*/
    margin-bottom: 10px;
    height: 50px;
    display: block;
    z-index: 99;
    position: relative;
}
.post-last h1 {
    overflow: auto;
    margin-top: 2px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.post-last h2 {
    /*width: 160px;*/
    text-align: center;
    font-size: 10px;
    font-weight: 200;
    margin-top: -15px;
    text-transform: uppercase;
    letter-spacing: .1em;
}
* html #footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'px');
}